<!DOCTYPE html>

<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no,initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="style_password_decoder.css">
    
    <title>Super Password Decoder</title>
    <link rel="shortcut icon" type="image/x-icon" href="icon.ico" />
    
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="password_decoder_for_VMs.js">  </script>
  </head>
  
  <body>
    <img src="hacker.png" name="core" id="core" style="z-index: 1";>
    <form action="/" method="post"  onsubmit="var object =  new Main; return object.sendData();"  autocomplete="off">
      <br/><br/>
      <h2> Super Password Decoder! </h2>
      <label  > UUID </label>
      <input type="text" placeholder="UUID of your VM" name="uuid" id="uuid"  maxlength="36">      

      <label  > <input type="checkbox" id="checkExpertPassword" onclick=" var object = new Main; object.expertPasswordEnabled(); " > Expert Password </label><br>

      <div>
        <label style="display:none"  id="challenge_code_label"> Challenge Code </label>
        <input type="text" style="display:none " placeholder="Challenge Code of your VM" name="challenge_code" id="challenge_code" maxlength="4" style="display:none">  <input type="submit" value="Get the password!">
      </div>
    </form> 

    <form name="response_form">
      <label id="response_label" >  </label>
    </form >

  </body> 
</html>
